@if (isBrowser) {
<div class="flex flex-col items-center justify-center h-full">

    <a routerLink="/" class="group mb-10 flex flex-col items-center">
        <div class="relative">
            <img class="w-14 h-14 rounded-full bg-white lg:animate-pulse transition-all duration-500 group-hover:scale-110 shadow-xl group-hover:shadow-2xl"
                src="./public/logo/icon.webp" alt="AmorPerfecto Logo" />
            <div
                class="absolute -inset-2 rounded-full bg-gradient-to-r from-primary-500 to-pink-600 opacity-20 group-hover:opacity-30 transition-opacity">
            </div>
        </div>
    </a>

    <div
        class="bg-white dark:bg-zinc-800 shadow-lg rounded-lg p-6 w-full max-w-md  border border-zinc-100 dark:border-zinc-800">

        <form [formGroup]="myForm" (ngSubmit)="onRequestPasswordReset()" class="space-y-6">

            <!-- Input Password Íntimo -->
            <fieldset class="space-y-2">
                <label class="block text-sm font-medium text-primary-600 dark:text-primary-200">
                    <i appIcon iconName="lock-regular" [size]="'w-6 h-6'" [color]="''"></i>
                    {{ 'newPassword' | translate }}
                </label>
                <div class="relative">
                    <input formControlName="password" type="password" class="w-full pl-12"
                        placeholder="{{ 'secretPassword' | translate }}" [ngClass]="inputClass(myForm,'password')" />
                    <div class="absolute inset-y-0 left-0 pl-4 flex items-center text-primary-400">
                        <i appIcon iconName="lock-regular" [size]="'w-6 h-6'" [color]="''"></i>
                    </div>
                </div>
            </fieldset>

            <!-- Input Password Íntimo -->
            <fieldset class="space-y-2">
                <label class="block text-sm font-medium text-primary-600 dark:text-primary-200">
                    <i appIcon iconName="lock-regular" [size]="'w-6 h-6'" [color]="''"></i>
                    {{ 'repeatpassword' | translate }}
                </label>
                <div class="relative">
                    <input formControlName="confirmPassword" type="password" class="w-full pl-12"
                        placeholder="{{ 'secretPassword' | translate }}"
                        [ngClass]="inputClass(myForm,'confirmPassword')" />
                    <div class="absolute inset-y-0 left-0 pl-4 flex items-center text-primary-400">
                        <i appIcon iconName="lock-regular" [size]="'w-6 h-6'" [color]="''"></i>
                    </div>
                </div>
            </fieldset>

            <button type="submit" [disabled]="myForm.invalid" [ngClass]="buttonClassForm(myForm.valid)"
                class="cursor-pointer w-full px-4 py-2 font-medium rounded-full">
                {{'save' | translate}}
            </button>

        </form>

    </div>
</div>
}