<div class="space-y-5">
    <fieldset class="w-full">
        <h1 class="text-3xl text-green-500 text-center font-normal">
            {{'earnPercentage' | translate: {creatorPercentage:
            $safeNavigationMigration(this.transactionCreditService.creditCalculator()?.percentage?.creatorPercentage)} }}
        </h1>
        <p class="text-center text-zinc-600 dark:text-zinc-400">
            {{'platformBenefit' | translate}}
        </p>
    </fieldset>
    <!-- First Fieldset: Credit Input and Price Calculation -->
    <fieldset [ngClass]="cardClass()" class="w-full p-4">

        <div class="mb-8 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
            <div>
                <h2 class="font-bold text-2xl text-primary-600 dark:text-primary-500">
                    {{'subscriptionBundles' | translate}}
                </h2>
                <p class="text-zinc-500 dark:text-zinc-400 text-sm mt-1">
                    {{'offerSubscription' | translate}}
                </p>
            </div>

            <button type="button" (click)="onFormBundles()" [ngClass]="buttonClass()">
                <i appIcon iconName="add-regular" [size]="'w-6 h-6'" aria-hidden="true"></i>
                <span class="font-medium text-sm">{{ "addPackages" | translate }}</span>
            </button>
        </div>

        <form [formGroup]="myFormOne" (submit)="onSubmitPrimary()" novalidate
            class="mb-8 border-b border-zinc-100 dark:border-zinc-800">
        </form>

        <div class="mt-4">

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

                @for (item of membershipService.memberships(); track $index) {
                @if (![12].includes(item.quantyTime!)) {

                <div [ngClass]="cardClass()" class="relative group rounded-2xl">

                    <div
                        class="absolute -top-3 right-4 bg-green-100 text-green-700 dark:bg-green-900 dark:text-green-300 text-xs font-bold px-3 py-1 rounded-full border border-green-200 dark:border-green-700 shadow-sm">
                        {{item.discount}} {{'discount' | translate}}
                    </div>

                    <div class="flex items-center gap-3 mb-4">
                        <div class="p-3 bg-white dark:bg-zinc-800 rounded-full shadow-sm text-primary-500">
                            <i appIcon iconName="calendar-alt-solid" [size]="'w-6 h-6'"
                                [color]="'text-zinc-800 dark:text-zinc-200'" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p
                                class="hidden text-sm text-zinc-500 dark:text-zinc-400 uppercase tracking-wide font-semibold">
                                {{'duration' | translate}}
                            </p>
                            <p class="text-xl font-bold text-zinc-900 dark:text-zinc-100">
                                {{item.quantyTime}} {{'months' | translate}}
                            </p>
                        </div>
                    </div>

                    <div class="space-y-3">
                        <div class="flex justify-between items-center p-3 bg-white dark:bg-zinc-800 rounded-xl">
                            <span class="text-sm font-medium text-zinc-500">
                                {{'coins' | translate}}
                            </span>
                            <div class="flex items-center gap-1 font-bold text-zinc-800 dark:text-zinc-200">
                                <i appIcon iconName="povicoin-solid" [size]="'w-6 h-6'" aria-hidden="true"></i>
                                <span class="text-lg">{{item.credit | numberMoney}}</span>
                            </div>
                        </div>

                        <div
                            class="flex justify-between items-center p-3 bg-white dark:bg-zinc-800 rounded-xl border border-transparent group-hover:border-primary-100 dark:group-hover:border-primary-900">
                            <span class="text-sm font-medium text-zinc-500">{{'price' | translate}}</span>
                            <span class="text-lg font-bold text-green-600 dark:text-green-400">
                                {{ priceCreditSubscription(item.creditReal!, item.discount!) | number:'1.2-2' }} USD
                            </span>
                        </div>
                    </div>

                    <div class="mt-6 flex gap-2">
                        <button (click)="onEditBundles(item)" [ngClass]="buttonSecondaryClass()">
                            <i appIcon iconName="edit-regular" [color]="''"></i>
                            <span class="ml-2 ">{{'edit' | translate}}</span>
                        </button>

                        <button (click)="onDeleteModal(item)" [ngClass]="buttonClass()">
                            <i appIcon iconName="delete-regular" [color]="''"></i>
                        </button>

                    </div>

                </div>
                }
                }
            </div>

            @if(loading()) {
            <div class="flex justify-center items-center space-x-2 py-10">
                <span class="relative flex h-3 w-3">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-primary-500"></span>
                </span>
                <span class="relative flex h-2 w-2">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary-400 opacity-75"
                        style="animation-delay: 150ms;"></span>
                    <span class="relative inline-flex rounded-full h-2 w-2 bg-primary-500"></span>
                </span>
                <span class="relative flex h-2.5 w-2.5">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary-400 opacity-75"
                        style="animation-delay: 300ms;"></span>
                    <span class="relative inline-flex rounded-full h-2.5 w-2.5 bg-primary-500"></span>
                </span>
            </div>
            }

            @if (!loading() && membershipService.memberships().length === 0) {
            <div class="flex flex-col items-center justify-center min-h-[20vh] text-center space-y-6 text-zinc-500
            dark:text-zinc-400">
                <!-- Ícono principal -->
                <div
                    class="flex items-center justify-center w-24 h-24 bg-white dark:bg-zinc-800 rounded-full shadow-md">
                    <i appIcon iconName="subscription-regular" [size]="'w-12 h-12'"
                        [color]="'text-zinc-500 dark:text-zinc-400'"></i>
                </div>

                <!-- Título principal -->
                <h2 class="text-2xl font-medium text-zinc-700 dark:text-zinc-200">{{'noBundlesYet' | translate}}</h2>

                <!-- Mensaje secundario -->
                <p class="text-base font-light max-w-md hidden">
                    {{'noBundlesYet' | translate}}
                </p>

            </div>
            }
        </div>

    </fieldset>

    <!-- credit amount download -->
    <fieldset [ngClass]="cardClass()" class="w-full  p-6 mt-8">
        <div class="mb-5 flex flex-col sm:flex-row justify-between items-center">
            <div>
                <h2 class="font-bold text-xl text-primary-500">{{'setDownloadPrice' | translate}}</h2>
                <span class="text-zinc-600 dark:text-zinc-400 text-sm">
                    {{'setPriceForUsers' | translate}}
                </span>
            </div>
        </div>
        <form [formGroup]="myFormDownload" (submit)="onSubmitDownload()" novalidate class="px-2 sm:px-0 mt-4">
            <div class="mb-4 grid grid-cols-1 gap-4">
                <div class="flex flex-col">
                    <label for="creditAmountDownload" class="mb-2 font-semibold text-zinc-800 dark:text-zinc-300">
                        {{'coins' | translate}}
                    </label>
                    <div class="relative">
                        <div
                            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-zinc-400 font-semibold flex items-center justify-center w-6 h-6">
                            <span appIcon iconName="povicoin-solid" [size]="'w-6 h-6'" aria-hidden="true"></span>
                        </div>
                        <input formControlName="creditAmountDownload" id="creditAmountDownload" class="pl-10 "
                            [ngClass]="inputClass(myFormDownload, 'creditAmountDownload')" [maxlength]="3">
                    </div>
                    <div class="mt-1 text-xs text-zinc-600 dark:text-zinc-400 font-semibold">
                        <span>{{ 'minimumOrFree' | translate: { x: 5 , y: 100 } }}</span>
                    </div>
                </div>
            </div>

            <!-- Price Section -->
            <div
                class="bg-green-50 dark:bg-green-800 rounded-lg p-4 mt-6 shadow-md border border-green-200 dark:border-green-700">
                <div class="text-lg font-semibold text-center text-green-800 dark:text-green-100">
                    <div>
                        <span>{{ 'price' | translate }}: </span>
                        {{ priceCreditDownload($safeNavigationMigration(myFormDownload.get('creditAmountDownload')?.value) ) | number:'1.2-2' }}
                        USD
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-5">
                <button type="submit" [ngClass]="buttonClass()" [disabled]="myFormOne.status === 'INVALID'">
                    <span class="font-semibold text-sm">{{ "save" | translate }}</span>
                </button>
            </div>
        </form>
    </fieldset>
</div>

@if (dialogService.activeModal() === 'formBundles') {
<div [ngClass]="modalClass()" class="modal-center" (click)="dialogService.closeModal()">
    <div [ngClass]="cardModalClass()" class=" max-w-md mx-auto" (click)="($event.stopPropagation())" @flyInOut>
        <section class="p-6">
            <div class="text-center mb-6">
                <h2 class="text-2xl font-bold text-zinc-800 dark:text-zinc-200">
                    {{ 'addPackages' | translate }}
                </h2>
            </div>
            <form [formGroup]="myFormBunbles" (submit)="onSubmit()" novalidate>

                <fieldset class="mb-4 grid grid-cols-1 gap-2">
                    <div class="flex flex-col">
                        <label for="quantyTime" class="mb-2 font-semibold">
                            {{'months' | translate}}
                        </label>
                        <div class="relative">
                            <select formControlName="quantyTime" (change)="onTypeChange($event)"
                                [ngClass]="inputClass(myFormBunbles, 'quantyTime')">

                                @for (item of this.months; track $index) {
                                @if (this.membershipService.memberships().length === 0) {
                                @if (item.id === 1) {
                                <option [value]="item.id">
                                    {{item.id}} {{ 'months' | translate }}
                                </option>
                                }
                                } @else {
                                <option [value]="item.id">
                                    {{item.id}} {{ 'months' | translate }}
                                </option>
                                }
                                }

                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="mb-4 grid grid-cols-1 gap-2">
                    <label for="credit" class="mb-2 font-semibold text-zinc-800 dark:text-zinc-300">
                        {{'coins' | translate}}
                    </label>
                    <div class="relative">
                        <div
                            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-zinc-400 font-semibold flex items-center justify-center w-6 h-6">
                            <span appIcon iconName="povicoin-solid" [size]="'w-6 h-6'" aria-hidden="true"></span>
                        </div>
                        <input formControlName="credit" id="credit" class="pl-10 "
                            [ngClass]="inputClass(myFormOne, 'credit')" [maxlength]="3">
                    </div>
                    <div class="mt-1 text-xs text-zinc-600 dark:text-zinc-400 font-semibold">
                        <span>{{ 'minimumOrFree' | translate: { x: 10, y: 500 } }}</span>
                    </div>
                </fieldset>

                <fieldset class="mb-4 grid grid-cols-1 gap-2">
                    <label for="discount" class="block text-sm font-medium text-zinc-700 dark:text-zinc-300">
                        {{ 'discount' | translate }}
                    </label>
                    <div class="relative">
                        <div
                            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-zinc-400 font-semibold flex items-center justify-center w-6 h-6">
                            <span appIcon iconName="povicoin-solid" [size]="'w-6 h-6'"></span>
                        </div>
                        <input formControlName="discount" id="discount" class="pl-10 font-semibold" maxlength="4"
                            [ngClass]="inputClass(myFormBunbles, 'discount')">
                    </div>
                </fieldset>

                <!-- Price Section -->
                <fieldset
                    class="bg-green-50 dark:bg-green-800 rounded-lg p-4 mt-6 shadow-md border border-green-200 dark:border-green-700">
                    <div class="text-lg font-semibold text-center text-green-800 dark:text-green-100">
                        <div>
                            <span>{{ 'price' | translate }}: </span>
                            {{ priceCreditSubscription(
                            $safeNavigationMigration(myFormBunbles.get('credit')?.value),
                            $safeNavigationMigration(myFormBunbles.get('discount')?.value) )
                            | number:'1.2-2' }} USD /
                            <span class="lowercase">{{'month' | translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <div class="flex justify-center items-center space-x-5 mt-4">
                    <button type="button" [ngClass]="buttonSecondaryClass()" (click)="dialogService.closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                    <button type="submit" [ngClass]="buttonClass()" [disabled]="myFormBunbles.status !== 'VALID'">
                        {{ 'save' | translate }}
                    </button>
                </div>

            </form>
        </section>

    </div>
</div>
}

@if (this.membershipService.memberships().length > 0 && dialogService.activeModal() === 'deleteMembership') {
<div class="modal-center" (click)="dialogService.closeModal()">
    <div class=" bg-white dark:bg-background-dark rounded-3xl shadow-lg border max-w-md mx-auto border-zinc-100 dark:border-zinc-800/40"
        (click)="($event.stopPropagation())" @flyInOut>

        <form (submit)="onDelete($event)" novalidate class="p-5">
            <div class="flex justify-between mb-5 space-x-5">
                <div class="text-center text-3xl flex items-center space-x-2 font-light">
                    <span><i class="fas fa-exclamation-circle text-yellow-500 text-2xl"></i></span>
                    <span>{{'confirmDelete' | translate}}</span>
                </div>
            </div>

            <div class="flex justify-center items-center space-x-5 mt-4">
                <button type="button" [ngClass]="buttonSecondaryClass()" (click)="dialogService.closeModal()">
                    {{ 'cancel' | translate }}
                </button>
                <button type="submit" [ngClass]="buttonClass()">
                    {{ 'delete' | translate }}
                </button>
            </div>

        </form>

    </div>
</div>
}