@if (dialogService.activeModal() === 'modalPost') {
<div class="modal-center" (click)="closeModal()">
  <div
    class=" bg-background-light dark:bg-background-dark rounded-md shadow-lg border border-zinc-100 dark:border-zinc-800/40 "
    (click)="($event.stopPropagation())">
    @if (this.postService.post()! && this.postService.post()!.PostMedia!.length > 0) {
    <div class="w-screen h-screen">

      <!-- carousel media-->
      @if (currentLinghtbox()) {
      <div class="h-screen md:h-screen w-full">
        <div #main class="flex justify-center items-center w-full">
          <div class="h-screen md:h-screen w-full flex justify-center md:block md:justify-normal">
            <div class="backdrop-blur-xl bg-black/80 relative flex justify-center items-center w-full">
              <div class="flex justify-center items-center w-full relative" (touchstart)="onTouchStart($event)"
                (touchmove)="onTouchMove($event)">

                @if (loading) {
                <div class="absolute inset-0 flex justify-center items-center">
                  <div
                    class="spinner-border text-white animate-spin w-8 h-8 border-4 border-t-transparent border-solid rounded-full">
                  </div>
                </div>
                }

                @if (currentLinghtbox()?.type == 'image') {
                <img ngOptimizedImage priority="high" [src]="
                      currentLinghtbox()?.cloudflare
                        ? currentLinghtbox()?.cloudflare.result.variants[0]
                        : currentLinghtbox()?.url
                    " alt="" class="h-fit md:h-screen w-fit object-cover" />
                }

                @else if (currentPrivate && currentLinghtbox()?.type == 'video') {
                <img ngOptimizedImage priority="high" [src]="
                      currentLinghtbox()?.cloudflare
                        ? 'https://customer-6kruyx7h361tmu11.cloudflarestream.com/' +
                          currentLinghtbox()?.cloudflare.result.uid +
                          '/thumbnails/thumbnail.gif?time=1s&height=200&duration=6s'
                        : currentLinghtbox()?.urlSnapshot
                    " class="h-screen w-fit object-cover" />
                }

                @if (!currentPrivate && currentLinghtbox()?.type == 'video') {
                @if (currentLinghtbox()?.type == 'video' && currentLinghtbox()?.cloudflare) {
                <iframe [src]="videoUrl" class="bg-black h-screen md:h-screen w-full flex justify-center"
                  title="Example Stream video" frameBorder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen="true">
                </iframe>
                }
                }

                @if (currentPrivate) {
                @if (currentLinghtbox()?.Post) {
                <div
                  class="absolute inset-0 text-white dark:text-zinc-300 bg-zinc-100/50 dark:bg-zinc-800/50 m-0 backdrop-blur-3xl flex justify-center items-center">
                  <span
                    class="bg-purple-800 flex items-center justify-center text-zinc-50 rounded-full uppercase px-2 py-2 font-normal text-xs">
                    <i class="fa-solid fa-lock"></i>
                  </span>
                </div>
                }

                @if (currentLinghtbox()?.Message) {
                <div
                  class="absolute inset-0 text-white dark:text-zinc-300 bg-zinc-100/50 dark:bg-zinc-800/50 m-0  backdrop-blur-3xl flex justify-center items-center">
                  <span
                    class="bg-purple-800 flex items-center justify-center text-zinc-50 rounded-full uppercase px-2 py-2 font-normal text-xs">
                    <i class="fa-solid fa-lock"></i>
                  </span>
                </div>
                }
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }

      <!-- end carousel media-->
      @if (this.postService.post()!.User!) {
      <a class="absolute left-2 md:left-5 top-2 md:top-5" (click)="closeModal()"
        routerLink="/{{this.postService.post()!.User!.username}}">
        @if(this.postService.post()!.User!.Profile) {
        @if (this.postService.post()!.User!.Profile!.length > 0) {
        <img ngOptimizedImage priority="high" class="rounded-full max-w-none w-10 h-10 object-cover"
          src="{{this.postService.post()!.User!.Profile![0].cloudflare ? this.postService.post()!.User!.Profile![0].cloudflare.result.variants[0] ? this.postService.post()!.User!.Profile![0].cloudflare.result.variants[0] : this.postService.post()!.User!.Profile![0].url : '' }}" />
        }

        @if (this.postService.post()!.User!.Profile!.length == 0) {
        <div class="rounded-full max-w-none w-10 h-10 object-cover bg-zinc-200 dark:bg-zinc-700">
        </div>
        }
        } @else {
        <div class="rounded-full max-w-none w-10 h-10 object-cover bg-zinc-200 dark:bg-zinc-700">
        </div>
        }

      </a>
      }
      <div class="absolute right-2 md:right-5 top-2 md:top-5">
        <div class="flex justify-between items-center space-x-2">
          @if (this.postService.post()!.PostMedia && this.postService.post()!.PostMedia!.length! > 1) {
          <div class="flex justify-center">
            <div class="bg-black/50 rounded-2xl px-1 py-1 flex items-center">
              <button class="text-sm md:text-sm text-white px-1" (click)="prevCarouselMedia()">
                <i class="fa-solid fa-angle-left"></i>
              </button>
              <span class="mx-2 text-sm md:text-sm font-normal text-white">
                {{ getCurrentSlideNumber() }} / {{getTotalSlideCount() }}
              </span>
              <button class="text-sm md:text-sm text-white px-1" (click)="nextCarouselMedia()">
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
          </div>
          }
          <button (click)="closeModal()"
            class="text-white bg-black/50 rounded-full w-10 h-10 flex justify-center items-center cursor-pointer transition-colors duration-300 hover:bg-black/40">
            <i class="fa-solid fa-xmark text-zinc-100 text-xl"></i>
          </button>
          <button class="text-white bg-black/50 rounded-full w-10 h-10 flex justify-center items-center cursor-pointer transition-colors duration-300 hover:bg-black/40">
            <i class="fa-solid fa-ellipsis-vertical text-sm"></i>
          </button>
        </div>
      </div>
    </div>
    }

  </div>
</div>
}