<router-outlet></router-outlet>
<ng-container #container></ng-container>
<section
  class="sm:bg-background-light sm:dark:bg-background-dark sm:backdrop-blur-lg fixed sm:sticky top-0 z-10 w-full p-2">
  <div
    class="w-full mx-auto max-w-screen-lg px-2 sm:px-4 py-2 space-x-4 flex justify-between items-center rounded-full sm:border border-zinc-200/50 dark:border-zinc-800 sm:bg-white sm:dark:bg-zinc-800/80">

    <!-- Botón de Búsqueda -->
    <button (click)="onSearchToogle()"
      class="cursor-pointer w-full flex items-center gap-2 sm:gap-4 group transition-all hover:text-primary-500 focus:outline-none">
      <!-- Icono de búsqueda -->
      <div
        class="w-10 h-10 sm:w-12 sm:h-12 rounded-full flex justify-center items-center bg-white dark:bg-zinc-800 border border-zinc-200/50 dark:border-zinc-800 shadow-md hover:shadow-lg transition-all">
        <i appIcon iconName="search-regular" [size]="'w-6 h-6'" [color]="''" aria-hidden="true"></i>
      </div>
      <!-- Texto oculto en dispositivos móviles -->
      <span
        class="hidden sm:block text-zinc-500 dark:text-zinc-400 text-lg font-light italic group-hover:text-primary-500 transition-colors">
        {{ 'whatYourHeartSeeks' | translate }}
      </span>
    </button>

    <!-- Botón de Crear Publicación -->
    @if (this.authService.user()) {
      <button (click)="onCreatePost()" [ngClass]="buttonClass()"
        class="cursor-pointer relative flex flex-shrink-0 items-center justify-center w-auto sm:w-auto rounded-full h-10 sm:h-12 px-4 sm:px-4 group truncate">
        <i appIcon iconName="plus-solid" [size]="'w-6 h-6'" [color]="''" class="mr-2 transition-colors"></i>
        <span class="text-sm sm:text-base font-semibold tracking-wide truncate transition-colors">
          {{ 'newDating' | translate }}
        </span>
      </button>
    }
  </div>
</section>

@if (dialogService.activeModal() === 'searchPostAd') {
  <div [ngClass]="modalClass()" class="modal-center">
    <div [ngClass]="cardModalClass()"
      class="w-full h-auto max-h-screen max-w-md sm:max-w-xl lg:max-w-3xl mx-auto overflow-hidden"
      (click)="($event.stopPropagation())" @flyInOut>
      <section class="w-full h-full p-4 sm:p-4 overflow-y-auto max-h-screen space-y-5">

        <div class="flex justify-between items-center py-2 relative">
          <h2 class="text-lg font-bold absolute left-1/2 transform -translate-x-1/2 flex items-center gap-2">
            <i appIcon iconName="search-regular" [size]="'w-6 h-6'" [color]="'text-primary-500'"></i>
            <span class="text-xl whitespace-nowrap">
              {{ 'searchDating' | translate }} 👉👈
            </span>
          </h2>

          <button (click)="onCloseModal()"
            class="cursor-pointer ml-auto relative z-10 flex justify-center items-center hover:bg-zinc-100 hover:dark:bg-zinc-700/30 rounded-full p-2 w-8 h-8">
            <span appIcon iconName="close-regular" [size]="'w-6 h-6'" [color]="''"></span>
          </button>
        </div>

        <!-- Búsqueda Principal -->
        <form novalidate (ngSubmit)="onSearch()" [formGroup]="myForm" class="space-y-4">
          <div class="relative group">
            <div
              class="absolute inset-0 bg-gradient-to-r from-primary-500/10 to-primary-700/10 rounded-3xl blur-xl opacity-30 group-hover:opacity-50 transition-opacity">
            </div>
            <div class="relative">
              <div class="absolute left-2 top-1/2 -translate-y-1/2 text-zinc-400 dark:text-zinc-500">
                <i appIcon iconName="favorite-regular" [size]="'w-6 h-6'" aria-hidden="true"
                [color]="''"></i>
              </div>
              <input type="text" formControlName="search" placeholder="{{'whatYourHeartSeeks' | translate}}"
                (keydown.enter)="onSearch()"
                class="w-full pl-9 md:pl-10 pr-6 md:pr-6 py-3 rounded-xl border border-zinc-200 dark:border-zinc-700 bg-zinc-100/60 dark:bg-zinc-900/50 text-xl font-light text-zinc-800 dark:text-zinc-100 ring-2 ring-white/20 focus:ring-4 focus:ring-primary-500/30 placeholder-zinc-400 dark:placeholder-zinc-500 transition-all duration-300">

              </div>
            </div>

            <!-- Filtros - Diseño Joya -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- Género -->
              <div class="relative group">
                <div
                  class="absolute -inset-0.5 bg-gradient-to-r from-primary-500/30 to-primary-700/30 rounded-2xl blur opacity-0 group-hover:opacity-30 transition-opacity">
                </div>
                <div
                  class="relative bg-zinc-100/60 dark:bg-zinc-900/50 rounded-xl p-1 border border-zinc-200 dark:border-zinc-700">
                  <select formControlName="gender"
                    class="w-full px-4 py-2 bg-transparent text-zinc-800 dark:text-zinc-100 text-lg font-medium appearance-none rounded-lg">
                    <option value="" class="bg-white dark:bg-zinc-800">✨ {{'allGenders' | translate}}
                    </option>
                    <option value="WOMAN" class="bg-white dark:bg-zinc-800">👩‍🦰 {{'women' | translate}}
                    </option>
                    <option value="MAN" class="bg-white dark:bg-zinc-800">👨‍🦰 {{'men' | translate}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- Edad -->
              <div class="relative group">
                <div
                  class="absolute -inset-0.5 bg-gradient-to-r from-primary-500/30 to-primary-700/30 rounded-2xl blur opacity-0 group-hover:opacity-30 transition-opacity">
                </div>
                <div
                  class="relative bg-zinc-100/60 dark:bg-zinc-900/50 rounded-xl p-1 border border-zinc-200 dark:border-zinc-700">
                  <div class="flex items-center justify-between px-4 py-2">
                    <div class="flex items-center gap-4">
                      <i class="fa-solid fa-cake-candles text-primary-500"></i>
                      <div class="flex items-center gap-3">
                        <input formControlName="minAge" type="text" placeholder="18"
                          class="w-full bg-transparent text-center text-lg font-medium text-zinc-900 dark:text-zinc-100 border-b-2 border-primary-500/30 focus:border-primary-500 focus:outline-none">
                          <span class="text-zinc-400">—</span>
                          <input formControlName="maxAge" type="text" placeholder="35"
                            class="w-full  bg-transparent text-center text-lg font-medium text-zinc-900 dark:text-zinc-100 border-b-2 border-primary-700/30 focus:border-primary-700 focus:outline-none">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <!-- Country -->
                  <div class="relative group">
                    <div
                      class="absolute -inset-0.5 bg-gradient-to-r from-primary-500/30 to-primary-700/30 rounded-2xl blur opacity-0 group-hover:opacity-30 transition-opacity">
                    </div>
                    <div
                      class="relative bg-zinc-100/60 dark:bg-zinc-900/50 rounded-xl p-1 border border-zinc-200 dark:border-zinc-700">
                      <select formControlName="country" (change)="onCountryState($event)"
                        class="w-full px-4 py-2 bg-transparent text-zinc-800 dark:text-zinc-100 text-lg font-medium appearance-none rounded-lg">
                        <option value="" class="bg-white dark:bg-zinc-800">🌍 {{'anyLocation' | translate}}
                        </option>
                        @for (item of countries(); track item) {
                          <option [value]="item._id"
                            class="bg-white dark:bg-zinc-800">
                            {{ item.name! | translate}}
                          </option>
                        }
                      </select>
                    </div>
                  </div>
                  <!-- Country State -->
                  <div class="relative group">
                    <div
                      class="absolute -inset-0.5 bg-gradient-to-r from-primary-500/30 to-primary-700/30 rounded-2xl blur opacity-0 group-hover:opacity-30 transition-opacity">
                    </div>
                    <div
                      class="relative bg-zinc-100/60 dark:bg-zinc-900/50 rounded-xl p-1 border border-zinc-200 dark:border-zinc-700">
                      <select formControlName="countryState" (change)="onStateCity($event)"
                        class="w-full px-4 py-2 bg-transparent text-zinc-800 dark:text-zinc-100 text-lg font-medium appearance-none rounded-lg">
                        <option value="" class="bg-white dark:bg-zinc-800">🌍 {{'anyLocation' | translate}}
                        </option>
                        @for (item of countryStates(); track item) {
                          <option [value]="item._id"
                            class="bg-white dark:bg-zinc-800">
                            {{ item.name! | translate}}
                          </option>
                        }
                      </select>
                    </div>
                  </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <!-- State City -->
                  <div class="relative group">
                    <div
                      class="absolute -inset-0.5 bg-gradient-to-r from-primary-500/30 to-primary-700/30 rounded-2xl blur opacity-0 group-hover:opacity-30 transition-opacity">
                    </div>
                    <div
                      class="relative bg-zinc-100/60 dark:bg-zinc-900/50 rounded-xl p-1 border border-zinc-200 dark:border-zinc-700">
                      <select formControlName="stateCity"
                        class="w-full px-4 py-2 bg-transparent text-zinc-800 dark:text-zinc-100 text-lg font-medium appearance-none rounded-lg">
                        <option value="" class="bg-white dark:bg-zinc-800">🌍 {{'anyLocation' | translate}}
                        </option>
                        @for (item of stateCyties(); track item) {
                          <option [value]="item._id"
                            class="bg-white dark:bg-zinc-800">
                            {{ item.name! | translate}}
                          </option>
                        }
                      </select>
                    </div>
                  </div>
                </div>

                <button (click)="onSearch()" [ngClass]="buttonClass()" class=" w-full ">
                  <i appIcon iconName="search-regular" [size]="'w-5 h-5'" [color]="''"
                  class="group-hover:rotate-12 transition-transform"></i>
                  <span class="text-sm font-bold sm:hidden lg:inline">{{'search' | translate}}</span>
                </button>

              </form>

            </section>
          </div>
        </div>
      }

      <main class="mx-auto max-w-md md:max-w-7xl  space-y-0 px-0 md:px-0 my-16 sm:my-4">
        <div class="grid grid-cols-1 gap-1 sm:gap-2 p-2">

          @for (item of this.postService.postAds(); track $index) {
            <article
              class="overflow-hidden  w-full relative group border border-zinc-200 dark:border-zinc-800/50 bg-white dark:bg-zinc-700/40 hover:border-primary-500/20 dark:hover:border-primary-400/30 rounded-xl shadow-md hover:shadow-2xl transition-all duration-300 ease-out hover:-translate-y-2 transform">
              <!-- Contenido principal -->
              <div class="md:flex">
                <!-- Imagen del anuncio -->
                <div (click)="onPost(item)" class="relative hover:cursor-pointer md:shrink-0 rounded-lg">
                  @if (item.PostMedia?.[0]; as media) {

                    <!-- Image Preview -->
                    @if (media.type === 'image') {
                      <img ngOptimizedImage [src]="media.cloudflare?.result?.variants?.[0] || media.url"
                        [alt]="item.title || 'Default alt text'"
                        class="h-48 w-full object-cover md:h-60 md:w-48 transform group-hover:scale-110 transition-transform duration-500" />
                      }

                      <!-- Video Preview -->
                      @if (media.type === 'video') {
                        <img ngOptimizedImage [src]="media.cloudflare?.result?.thumbnail || media.urlSnapshot"
                          [alt]="item.title || 'Video thumbnail'"
                          class="h-48 w-full object-cover md:h-60 md:w-48 transform group-hover:scale-110 transition-transform duration-500" />

                          <!-- Play Button -->
                          <div class="absolute inset-0 flex items-center justify-center bg-black/20">
                            <div
                              class="flex h-12 w-12 items-center justify-center rounded-full bg-white/30 transition-all group-hover:bg-primary-500/80">
                              <i appIcon iconName="play-solid" [size]="'w-8 h-8'" [color]="'text-white'"></i>
                            </div>
                          </div>
                        }

                      }

                      <!-- user profile -->
                      @if(item.isProfile) {
                        <div class="absolute left-1 top-1 flex flex-col gap-1">
                        <div [ngClass]="{
                            'border-[#ff0050] animate-pulse-border': item.User!.live,
                            'border-green-500': item.User!.online && !item.User!.live,
                            'border-zinc-700/10': !item.User!.online && !item.User!.live
                            }"
                            class="w-12 h-12 object-cover rounded-full overflow-hidden border-2 bg-purple-100 dark:bg-purple-800/10 text-purple-500 text-3xl">
                            @if (item.User!.Profile!.length > 0) {
                              <img class="w-12 h-12 object-cover rounded-full" [src]="getProfileImageUrl(item.User!)" />
                            } @else {
                              {{ getFirstLetter(item.User?.alias!! || item.User?.username!!)}}
                            }
                          </div>
                        </div>
                      }
                      <!-- Media Badges -->
                      <div class="absolute left-1 bottom-1 flex justify-center flex-col gap-1">
                        @if (item.PostMedia!.length > 1) {
                          <div class="rounded-full bg-black/40  px-2.5 py-1 text-xs  text-white backdrop-blur-sm">
                            1 / {{ item.PostMedia!.length }}
                          </div>
                        }
                      </div>

                    </div>
                    <!-- Contenido textual -->
                    <div class="p-2 w-full">
                      <div (click)="onPost(item)" class="hover:cursor-pointer">
                        <!-- Título -->
                        <h1 class="font-bold text-lg line-clamp-2 sm:line-clamp-1 mb-2">{{item.title}}</h1>
                        <!-- Descripción -->
                        <p class="text-base text-zinc-600 dark:text-zinc-400 line-clamp-3">
                          {{item.description}}
                        </p>
                        <div class="flex flex-wrap items-center gap-4 text-sm text-zinc-600 dark:text-zinc-400 pt-1">
                          @if (item.age) {
                            <div class="flex items-center gap-1.5 rounded-md bg-zinc-100 px-2 py-1 dark:bg-zinc-700/50">
                              <i appIcon iconName="id-card-regular" [size]="'w-4 h-4'"
                              [color]="'text-primary-600 dark:text-primary-400'" class=""></i>
                              <span class="font-medium lowercase">{{ 'yearsOld' | translate: { age: item.age || 18 }
                              }}</span>
                            </div>
                          }

                          <div class="flex items-center gap-1.5">
                            <i appIcon iconName="map-pin-solid" [size]="'w-4 h-4'" [color]="'text-zinc-400'"></i>
                            <span class="font-medium">{{item.Country?.name}}</span>
                            @if (item.StateCity) {
                              <span>/ {{item.StateCity.name}}</span>
                            }
                          </div>
                        </div>
                      </div>

                      <div
                        class="mt-4 flex flex-wrap justify-end gap-3 border-t border-zinc-100 pt-3 dark:border-zinc-700">

                        @if (item?.telegram) {
                          <button (click)="$event.stopPropagation(); openTelegram(item.telegram!)"
                            class="group/btn relative flex items-center justify-center rounded-full bg-[#2CA5E0] px-4 py-2 text-sm font-bold text-white shadow-sm transition-all hover:bg-[#2594cc] hover:shadow-md active:scale-95">
                            <img src="./public/social-media/telegram.png" class="mr-2 h-4 w-4" alt="Tg">
                            Telegram
                          </button>
                        }

                        @if (item?.whatsapp) {
                          <button
                            (click)="$event.stopPropagation(); openWhatsApp(item.phonePrefix!, $safeNavigationMigration(item?.whatsapp)!, textMessage(item))"
                            class="group/btn relative flex items-center justify-center rounded-full bg-[#25D366] px-4 py-2 text-sm font-bold text-white shadow-sm transition-all hover:bg-[#20bd5a] hover:shadow-md active:scale-95">
                            <img src="./public/social-media/whatsapp.png"
                              class="mr-2 h-4 w-4 brightness-200 grayscale-0" alt="Wa">
                              WhatsApp
                            </button>
                          }

                        </div>
                      </div>
                    </div>
                  </article>
                }

                @if (loading()) {
                  @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
                    <article
                      class="border border-zinc-100 dark:border-zinc-800 bg-white dark:bg-background-dark p-0 w-full mx-auto space-y-2 shadow-md rounded-3xl">
                      <div class="animate-pulse w-full h-44 sm:h-56 bg-zinc-100 dark:bg-zinc-800 rounded-3xl"></div>
                    </article>
                  }
                }

              </div>

              @if (!loading() && this.postService.postAds().length === 0) {
                <div
                  class="flex flex-col items-center justify-center min-h-[50vh] text-center space-y-6 text-zinc-500 dark:text-zinc-400">
                  <!-- Ícono principal -->
                  <div class="flex items-center justify-center w-24 h-24 bg-zinc-100 dark:bg-zinc-800 rounded-full shadow-md">
                    <i appIcon iconName="grid-view-regular" [size]="'w-12 h-12'"
                    [color]="'text-zinc-500 dark:text-zinc-400'"></i>
                  </div>

                  <!-- Título principal -->
                  <h2 class="text-2xl font-medium text-zinc-700 dark:text-zinc-200">{{'noPostsYet' | translate}}</h2>

                  <!-- Mensaje secundario -->
                  <p class="text-base font-light max-w-md hidden">
                    {{'startSavingYourFavoriteContent' | translate}}
                  </p>

                </div>
              }
            </main>