@if (this.authService.user()) {
  <section class="full-height flex justify-center items-center bg-background-light dark:bg-background-dark">
    <div
      class="w-full max-w-md p-6 bg-white dark:bg-zinc-800/30 rounded-lg shadow-lg text-center border border-zinc-200 dark:border-zinc-800 space-y-6">
      <!-- Título -->
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-white">
        {{'completeProfile' | translate}}
      </h2>

      <!-- Subtítulo -->
      <p class="text-sm text-gray-600 dark:text-gray-400">
        {{'addProfilePicture' | translate}}
      </p>

      <!-- Formulario -->
      <form [formGroup]="myformProfile" novalidate>
        @if (this.authService.user()?.Profile?.length! > 0) {
          <div>
            <!-- Si ya tiene un perfil -->
            <div class="relative mx-auto w-48 h-48 md:w-56 md:h-56 bg-cover rounded-full border-4 border-zinc-100 dark:border-zinc-700"
              [style.background-image]="'url(' + (this.authService.user()!.Profile![0].cloudflare ? this.authService.user()!.Profile![0].cloudflare.result.variants[0] : this.authService.user()!.Profile![0].url) + ')'">
              <!-- Botón para eliminar -->
              <button (click)="deleteFileProfile(this.authService.user()!.Profile![0])"
                class="cursor-pointer absolute bottom-0 right-0 w-8 h-8 flex justify-center items-center text-white transition-colors duration-200 transform bg-red-500 hover:bg-red-600 rounded-full focus:outline-none">
                <i appIcon iconName="delete-regular" [size]="'w-6 h-6'" [color]="''"></i>
              </button>
            </div>
          </div>
        } @else {
          @for (item of imagesProfile; track item; let first = $first) {
            <div>
              <div class="relative mx-auto w-48 h-48 md:w-56 md:h-56 bg-cover rounded-full border-4 border-zinc-100 dark:border-zinc-700"
                [style.background-image]="'url(' + item.url + ')'">
                <!-- Botones para subir/eliminar -->
                <div class="absolute bottom-0 right-0 flex space-x-5">
                  <button [ngClass]="myformProfile.status == 'VALID' ? '' : 'opacity-50 pointer-events-none'"
                    [disabled]="myformProfile.status == 'VALID' ? false : true" (click)="onSubmitProfile()"
                    class="cursor-pointer w-8 h-8 flex justify-center items-center text-white leading-5 transition-colors duration-200 transform rounded-full focus:outline-none bg-gray-800/30 hover:bg-gray-800/50">
                    <i appIcon iconName="cloud-upload-regular" [size]="'w-6 h-6'" [color]="''"></i>
                  </button>
                  <button (click)="deleteImageProfile(item)"
                    class="cursor-pointer w-8 h-8 flex justify-center items-center text-white leading-5 transition-colors duration-200 transform rounded-full focus:outline-none bg-gray-800/30 hover:bg-gray-800/50">
                    <i appIcon iconName="delete-regular" [size]="'w-6 h-6'" [color]="''"></i>
                  </button>
                </div>
              </div>
            </div>
          }
          <!-- Si no hay imágenes -->
          @if (imagesProfile.length === 0) {
            <div>
              <div
                class="mx-auto w-48 h-48 md:w-56 md:h-56 flex flex-col justify-center items-center rounded-full bg-zinc-100 dark:bg-zinc-800/50 border-4 border-zinc-200 dark:border-zinc-600 cursor-pointer">
                <label for="file-upload-profile"
                  class="w-full h-full flex flex-col justify-center items-center cursor-pointer">
                  <i appIcon iconName="add-photo-regular" [size]="'w-10 h-10'"
                  [color]="'text-zinc-500 dark:text-zinc-400'"></i>
                  <span class="mt-2 text-xs text-zinc-500 dark:text-zinc-400">
                    {{'uploadImage' | translate}}
                  </span>
                </label>
                <input id="file-upload-profile" type="file" multiple
                  accept="image/gif, image/png, image/jpg, image/jpeg" formControlName="file"
                  (change)="onFileProfileChange($event)" class="hidden" />
                </div>
              </div>
            }
          }

          <!-- Plantilla para agregar/editar perfil -->
        </form>

        <!-- Mensaje de validación -->
        @if (myformProfile.invalid && myformProfile.touched) {
          <div class="text-red-500 text-sm">
            {{'selectValidImage' | translate}}
          </div>
        }
      </div>
    </section>
  }