<div class="modal-center" (click)="closeModal()">
  <div class=" bg-background-dark rounded-md shadow-lg border border-zinc-100 dark:border-zinc-800/40 "
    (click)="($event.stopPropagation())" @flyInOut>
    <div class="w-screen full-height">
      <div (wheel)="onScroll($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

        <!-- image -->
        <div
          class="{{currentLinghtbox()?.type == 'image' ? 'block' : 'hidden'}} relative flex justify-center items-center full-height">
          @if (currentLinghtbox()?.type == 'image') {
          <img ngOptimizedImage priority="high" [src]="
            currentLinghtbox()?.cloudflare
              ? currentLinghtbox()?.cloudflare.result.variants[0]
              : $safeNavigationMigration(currentLinghtbox()?.url)
          " alt="" class="h-fit sm:h-full w-full sm:w-fit object-cover" />
            }
          </div>
          <!-- video -->
          <button (click)="togglePlayPauseHls()"
            class="cursor-pointer relative flex justify-center items-center {{currentLinghtbox()?.type == 'video' ? 'block' : 'hidden'}}">

            <div class="absolute transition-all duration-500" [class.opacity-0]="isPlaying" [class.scale-150]="isPlaying">
              <div class="bg-black/20 backdrop-blur-md p-6 rounded-full border border-white/10">
                <i appIcon iconName="play-solid" [size]="'w-12 h-12'" [color]="'text-white/90'"></i>
              </div>
            </div>

            @if(this.isLoadingVideo()) {
              <!-- Spinner de carga -->
              @if (checkBufferingState()) {
                <div class="video-loading-spinner">
                  <div class="video-spinner"></div>
                  <div class="buffer-stats hidden">
                    <span>Buffered: {{ getBufferedPercentage() | number:'1.0-0' }}%</span>
                    <span>Buffer restante: {{ getRemainingBufferTime() | number:'1.1-1' }}s</span>
                  </div>
                </div>
              }
            }
            <video #videoElement class="video-js vjs-fill bg-black full-height w-auto flex justify-center"
              controlsList="nodownload noplaybackrate" disablePictureInPicture playsinline>
            </video>
          </button>

          @if (isVideoLoading()) {
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-10 pointer-events-none z-10">
              <svg class="animate-spin h-10 w-10 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                </circle>
                <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
              </svg>
            </div>
          }

          @if (verifiedPrivate(this.postService.post()!)) {
            <div
              class="absolute inset-0 text-white dark:text-zinc-300 bg-zinc-100/50 dark:bg-zinc-800/50 space-y-2 backdrop-blur-3xl">
              <div class="space-x-1 flex flex-col justify-center items-center h-full space-y-1">
                <i appIcon iconName="lock-regular" [size]="'w-20 h-20'" [color]="''"></i>
              </div>
            </div>
          }

        </div>

        <!-- option-->
        <div class="fixed left-1/2 top-2 md:top-5">
          <div class="flex justify-between items-center space-x-2">
            @if (this.postService.post()?.PostMedia && this.postService.post()?.PostMedia?.length! > 1) {
              <div class="flex justify-center">
                <div class="bg-black/50 rounded-2xl px-1 py-1 flex items-center">
                  <button type="button" class="text-sm md:text-sm text-white px-1 cursor-pointer"
                    (click)="prevCarouselMedia()">
                    <i appIcon iconName="arrow-back-regular" [size]="'w-4 h-4'" [color]="'text-zinc-100'"></i>
                  </button>
                  <span class="mx-2 text-sm md:text-sm font-normal text-white">
                    {{ getCurrentSlideNumber() }} / {{getTotalSlideCount() }}
                  </span>
                  <button type="button" class="text-sm md:text-sm text-white px-1 cursor-pointer"
                    (click)="nextCarouselMedia()">
                    <i appIcon iconName="arrow-forward-regular" [size]="'w-4 h-4'" [color]="'text-zinc-100'"></i>
                  </button>
                </div>
              </div>
            }
          </div>
        </div>

        <div [ngClass]="showFullText() ? 'bg-zinc-950' : ''"
          class="fixed bottom-20 md:bottom-20 left-1 md:left-1 text-sm w-72 sm:w-72 md:w-96 rounded-md p-3 overflow-y-auto max-h-[80vh]">
          @if(this.postService.post()?.isProfile) {
            <a routerLink="/{{this.postService.post()?.User?.username}}" class="truncate">
              <span class="truncate text-white font-bold text-lg">
                {{this.postService.post()?.User?.alias || this.postService.post()?.User?.username }}
              </span>
            </a>
          }
          <!-- Título (Expansible) -->
          <h1 [class.line-clamp-1]="!showFullText()"
            class="font-bold text-white leading-tight transition-all duration-300 ease-in-out">
            {{ this.postService.post()?.title }}
          </h1>

          <!-- Descripción (Expansible) -->
          <div class="w-full mt-2">

            @if (postService.post()?.description) {
              <p [class.line-clamp-2]="!showFullText()"
                class="text-white leading-relaxed transition-all duration-300 ease-in-out"
                [innerHTML]="getSafeHtml($safeNavigationMigration(postService.post()?.description)!)">
              </p>
            }

            @if (this.postService.post()?.age && this.showFullText()) {
              <p class="space-x-1 mt-2">
                <i appIcon iconName="id-card-regular" [size]="'w-5 h-5'"
                [color]="'text-primary-600 dark:text-primary-400'"></i>
                <span class="font-semibold lowercase">
                  {{ 'yearsOld' | translate: { age: this.postService.post()?.age || 18 } }}
                </span>
              </p>
            }

            @if (this.postService.post()?.Country?.name && this.showFullText()) {
              <p [class.line-clamp-1]="!showFullText()" class="space-x-1 line-clamp-1">
                <i appIcon iconName="map-pin-solid" [size]="'w-5 h-5'"
                [color]="'text-primary-600 dark:text-primary-400'"></i>
                <span class="font-semibold">{{this.postService.post()?.Country?.name}}</span>
                <span>/</span>
                <span>{{this.postService.post()?.CountryState?.name}}</span>
              </p>
            }

            <!-- Botón Ver Más / Ver Menos -->
            @if (postService.post()?.description!) {
              <button (click)="toggleText()" class="cursor-pointer text-sm text-primary-500 transition-colors font-bold">
                {{ showFullText() ? ('read.less' | translate) : ('read.more' | translate) }}
              </button>
            }

          </div>

          <!-- Botones de acción -->
          @if (this.postService.post()?.type === 'AD') {
            <div class="flex justify-start space-x-4 mt-4">
              <!-- Botón de Telegram -->
              @if (this.postService.post()?.telegram) {
                <button (click)="openTelegram($safeNavigationMigration(postService.post()?.telegram)!)"
                  class="cursor-pointer flex items-center justify-center bg-[#2CA5E0] text-white rounded-full px-3 py-1 text-sm font-semibold hover:bg-[#1d92c4] transition-all duration-300 ease-in-out">
                  <img src="./public/social-media/telegram.png" class="w-5 h-5 mr-2" alt="Telegram">
                  <span>Telegram</span>
                </button>
              }

              <!-- Botón de WhatsApp -->
              @if (this.postService.post()?.whatsapp) {
                <button
                  (click)="openWhatsApp($safeNavigationMigration(postService.post()?.phonePrefix)!, $safeNavigationMigration(postService.post()?.whatsapp)!, textMessage(postService.post()!))"
                  target="_blank" rel="noopener noreferrer"
                  class="cursor-pointer flex items-center justify-center bg-[#25D366] text-white rounded-full px-3 py-1 text-sm font-semibold hover:bg-[#1da851] transition-all duration-300 ease-in-out">
                  <img src="./public/social-media/whatsapp.png" class="w-5 h-5 mr-2" alt="WhatsApp">
                  <span>WhatsApp</span>
                </button>
              }
            </div>
          }

        </div>

        <div class="fixed right-4 md:right-4 top-2 md:top-5">
          <button (click)="closeModal()"
            class="text-white rounded-full w-10 h-10 flex justify-center items-center cursor-pointer transition-colors duration-300 hover:bg-black/40">
            <i appIcon iconName="close-regular" [size]="'w-6 h-6'" [color]="'text-zinc-100'"></i>
          </button>
        </div>

        <div class="fixed bottom-24 md:bottom-28 right-4 flex flex-col space-y-4 text-white">
          <!-- user profile -->

          @if(this.postService.post()?.isProfile) {
            <a routerLink="/{{this.postService.post()?.User?.username}}" class="flex items-center">
              <div
                class="h-10 w-10 rounded-full  flex justify-center items-center overflow-hidden border-2 border-zinc-700/10  text-3xl text-purple-500">
                @if (this.postService.post()?.User?.Profile?.length! > 0) {
                  <img class="h-10 w-10 object-cover rounded-full"
                    [src]=" getProfileImageUrl($safeNavigationMigration(this.postService.post()?.User)!)" />
                  } @else {
                    {{ getFirstLetter(this.postService.post()?.User?.alias!! || this.postService.post()?.User?.username!!)}}
                  }
                </div>
              </a>
            }

            <!-- Botón de Like -->
            @if (authService.user()) {
              <button (click)="onLikes(this.postService.post()!)" class="flex flex-col items-center cursor-pointer">
                <span class="text-3xl transition-transform transform hover:scale-125">
                  <i appIcon iconName="favorite-regular" [size]="'w-8 h-8'" [color]="''"></i>
                </span>
                <span class="text-xs font-bold">
                  {{this.postService.post()?.likes! || 0 | thousands}}
                </span>
              </button>
            }

            <!-- Botón de Comentarios -->
            @if (authService.user() && (this.postService.post()?.isComment)) {
              <button (click)="onCommentPost(this.postService.post()!)" class="flex flex-col items-center cursor-pointer">
                <span class="text-3xl transition-transform transform hover:scale-125">
                  <i appIcon iconName="comment-regular" [size]="'w-8 h-8'" [color]="''"></i>
                </span>
                <span class="text-xs font-bold">
                  {{this.postService.post()?.commentCount! > 0 ? this.postService.post()?.commentCount! : (0 |
                  thousands)}}
                </span>
              </button>
            }

            <!-- Botón de Guardar (para ver más tarde) -->
            <input type="hidden" #bookmark>
            @if(this.authService.user()) {
              @if (this.postService.post()?.isBookmarked) {
                <button (click)="deletePostBookmark(postService.post()!, bookmark.value = '')"
                  class="flex flex-col items-center cursor-pointer">
                  <span class="text-3xl transition-transform transform hover:scale-125">
                    <i appIcon iconName="bookmark-solid" [size]="'w-8 h-8'" [color]="''"></i>
                  </span>
                </button>
              } @else {
                <button (click)="addPostBookmark(postService.post()!, bookmark.value = $safeNavigationMigration(postService.post()?._id)!)"
                  class="flex flex-col items-center cursor-pointer">
                  <span class="text-3xl transition-transform transform hover:scale-125">
                    <i appIcon iconName="bookmark-regular" [size]="'w-8 h-8'" [color]="''"></i>
                  </span>
                </button>
              }
            }

            @if (authService.user()) {
              <!-- Botón tip -->
              <button (click)="onTip(this.postService.post()!)" class="flex flex-col items-center cursor-pointer">
                <span class="text-3xl transition-transform transform hover:scale-125">
                  <i appIcon iconName="gift-regular" [size]="'w-8 h-8'" [color]="'text-primary-500'"></i>
                </span>
              </button>
            }

            <!-- Botón de Compartir -->
            <button (click)="share(this.postService.post()!)" class="flex flex-col items-center cursor-pointer">
              <span class="text-3xl transition-transform transform hover:scale-125">
                <i appIcon iconName="share-regular" [size]="'w-8 h-8'" [color]="''"></i>
              </span>
            </button>

            @if(this.postService.post()?.isDownload) {
              <button (click)="onDownloadPostModal(this.postService.post()!)"
                class="flex flex-col items-center cursor-pointer">
                <span class="text-3xl transition-transform transform hover:scale-125">
                  <i appIcon iconName="download-regular" [size]="'w-8 h-8'" [color]="''"></i>
                </span>
              </button>
            }

            @if (authService.user()) {
              <button (click)="onModalDropdown(this.postService.post()!)" class="flex flex-col items-center cursor-pointer">
                <span class="text-3xl transition-transform transform hover:scale-125">
                  <i appIcon iconName="more-horiz-regular" [size]="'w-8 h-8'" [color]="''"></i>
                </span>
              </button>
            }
          </div>

          <div class="fixed top-1/2 left-1/2">
            <ng-container #container></ng-container>

            <!-- dropdownPost -->
            @if (postService.post() && dialogService.activeModal() === 'dropdownPost') {
              <div class="modal-center" (click)="dialogService.closeModal()"
                class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 transition-opacity duration-300">
                <div
                  class="bg-white dark:bg-background-dark rounded-xl shadow-lg border border-zinc-100 dark:border-zinc-800/40"
                  (click)="($event.stopPropagation())" @flyInOut>
                  <div class="w-72 sm:w-96 p-1">
                    <input type="hidden" #bookmark>

                    <ul class="cursor-pointer divide-y divide-zinc-100 dark:divide-zinc-800 text-center font-normal">

                      @if (this.authService.user()) {
                        @if (postService.post()!.User!._id == this.authService.user()!._id) {
                          <li (click)="onEditPostModal(postService.post()!)"
                            class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                            {{'edit' | translate}}
                          </li>
                        }

                        @if (postService.post()!.User!._id == this.authService.user()!._id) {
                          <li (click)="onDeletePostModal(postService.post()!)"
                            class="w-full py-3 px-4 hover:bg-red-50 dark:hover:bg-zinc-800/40 transition-colors duration-300 text-red-500">
                            {{'delete' | translate}}
                          </li>
                        }

                        @if (postService.post()!.User!._id != this.authService.user()!._id && !bookmark.value) {
                          <li (click)="addPostBookmark(postService.post()!, bookmark.value = $safeNavigationMigration(postService.post()?._id)!)"
                            class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                            {{'save' | translate}}
                          </li>
                        } @else {
                          <li (click)="deletePostBookmark(postService.post()!, bookmark.value = '')"
                            class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                            {{'notSave' | translate}}
                          </li>
                        }

                        @if (this.postService.post()?.type === 'POST' && !postService.post()!.pined &&
                          (postService.post()!.User?._id === authService.user()!._id)) {
                          <li (click)="onPinToTop(postService.post()!)"
                            class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                            {{'pinToTop' | translate}}
                          </li>
                        }

                        @if (this.postService.post()?.type === 'POST' && postService.post()!.pined &&
                          (postService.post()!.User?._id === authService.user()!._id)) {
                          <li (click)="onPinToTop(postService.post()!)"
                            class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                            {{'unpin' | translate}}
                          </li>
                        }

                      }

                      <li (click)="copyText(postService.post()!)"
                        class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                        {{'copy_link_post' | translate}}
                      </li>

                      <li (click)="share(postService.post()!)"
                        class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                        {{'share' | translate}}
                      </li>

                      <li (click)="dialogService.closeModal()"
                        class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                        {{'report' | translate}}
                      </li>

                      <li (click)="dialogService.closeModal()"
                        class="w-full py-3 px-4 hover:bg-primary-50 dark:hover:bg-zinc-800/40 transition-colors duration-300">
                        {{'cancel' | translate}}
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            }

            <!-- delete post -->
            @if (this.postService.post() && dialogService.activeModal() === 'deletePost') {
              <div class="modal-center" (click)="dialogService.closeModal()">
                <div
                  class=" bg-white dark:bg-background-dark rounded-3xl shadow-lg border max-w-md mx-auto border-zinc-100 dark:border-zinc-800/40"
                  (click)="($event.stopPropagation())" @flyInOut>

                  <form (submit)="onDeletePost($event)" novalidate class="p-5">
                    <div class="flex justify-between mb-5 space-x-5">
                      <div class="text-center text-3xl flex items-center space-x-2 font-light">
                        <span> <i appIcon iconName="info-circle-regular" [size]="'w-8 h-8'" [color]="'text-yellow-500'"></i>
                      </span>
                      <span>{{'confirmDelete' | translate}}</span>
                    </div>
                  </div>

                  <div class="flex justify-center items-center space-x-5 mt-4">
                    <button type="button"
                      class="bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-700 dark:hover:bg-zinc-600 text-zinc-800 dark:text-zinc-200 font-semibold py-2 px-4 rounded-lg shadow transition duration-200 ease-in-out"
                      (click)="dialogService.closeModal()">
                      {{ 'cancel' | translate }}
                    </button>
                    <button type="submit" [ngClass]="buttonClass()" class="py-2 px-4 rounded-lg">
                      {{ 'delete' | translate }}
                    </button>
                  </div>

                </form>

              </div>
            </div>
          }

          <!-- download post -->
          @if (this.postService.post() && dialogService.activeModal() === 'downloadPost') {
            <div class="modal-center fixed inset-0 bg-black/50 flex items-center justify-center z-50"
              (click)="dialogService.closeModal()">
              <div
                class="space-y-6 bg-white dark:bg-background-dark rounded-3xl shadow-2xl border max-w-md w-full mx-auto p-6 border-zinc-100 dark:border-zinc-800/40"
                (click)="$event.stopPropagation()" @flyInOut>

                <div class="flex justify-center items-center space-x-3">
                  <span>
                    <i appIcon iconName="download-regular" [size]="'w-10 h-10'" [color]="'text-blue-500'"></i>
                  </span>
                  <h2 class="text-2xl font-bold text-zinc-800 dark:text-zinc-200">{{ 'downloadPublication' | translate }}
                  </h2>
                </div>

                <div class="flex justify-center items-center space-x-1">
                  <span>
                    <i appIcon iconName="povicoin-solid" [size]="'w-6 h-6'" [color]="'text-yellow-500'"></i>
                  </span>
                  <p class="text-lg font-bold text-zinc-800 dark:text-zinc-200">
                    <span class="text-blue-500">
                      {{ this.postService.post()?.User?.creditAmountDownload }}
                    </span>
                  </p>
                </div>

                <p class="text-zinc-600 dark:text-zinc-400 text-center text-sm">
                  {{ 'aboutToDownload' | translate }}
                </p>

                <!-- Sección de Balance -->
                <div
                  class="bg-gradient-to-r from-white to-zinc-50 dark:from-zinc-800 dark:to-zinc-900 p-4 rounded-xl border border-zinc-100 dark:border-zinc-700 shadow-md">
                  <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                      <i appIcon iconName="povicoin-solid" [size]="'w-6 h-6'" [color]="'text-amber-500'"></i>
                      <div>
                        <p class="text-xs font-medium text-zinc-600 dark:text-zinc-300">{{ 'currentBalance' | translate }}
                        </p>
                        <p class="text-lg font-bold text-zinc-800 dark:text-zinc-100">
                          {{ userCreditService.userCredit()?.current || 0 | number:'1.0-0' }}
                        </p>
                      </div>
                    </div>

                    <button (click)="openCreditPurchase()" [ngClass]="buttonClass()" class=" px-4 py-2 w-auto rounded-full">
                      <span class="text-sm font-semibold">{{ 'reload' | translate }}</span>
                    </button>
                  </div>
                </div>

                <div class="flex justify-center space-x-4">
                  <button type="button" (click)="dialogService.closeModal()" [ngClass]="buttonSecondaryClass()"
                    class="py-2 px-4 rounded-full">
                    {{ 'cancel' | translate }}
                  </button>

                  <button type="submit" (click)="onDownloadPostModal($event)" [ngClass]="buttonClass()"
                    class="py-2 px-4 rounded-full">
                    {{ 'download' | translate }}
                  </button>
                </div>

              </div>
            </div>
          }

        </div>

      </div>
    </div>
  </div>