@import "tailwindcss";

@theme {
  --height-112: 28rem;
  --height-112: 28rem;
  --height-128: 32rem;
  --height-160: 40rem;

  --width-112: 28rem;
  --width-128: 32rem;
  --width-160: 40rem;

  --color-background-light: #f2f4f7;
  --color-background-dark: #161618;

  /* Colores primarios */
  --color-primary-50: #fcdcdc;
  --color-primary-100: #fac9c9;
  --color-primary-200: #f6a4a4;
  --color-primary-300: #f37f7f;
  --color-primary-400: #ef5959;
  --color-primary-500: #ec3434;
  --color-primary-600: #d41414;
  --color-primary-700: #a10f0f;
  --color-primary-800: #6d0a0a;
  --color-primary-900: #3a0505;
  --color-primary-950: #210303;

  /* Colores secundarios */
  --color-secondary-50: #f9fafb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-200: #e5e7eb;
  --color-secondary-300: #d1d5db;
  --color-secondary-400: #9ca3af;
  --color-secondary-500: #6b7280;
  --color-secondary-600: #4b5563;
  --color-secondary-700: #374151;
  --color-secondary-800: #374151;
  --color-secondary-900: #111827;

  --color-tertiary-500: #ff2a59;

  /* Keyframes: Ahora se definen como variables de tema */
  @keyframes gentle-shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-8deg); }
    50% { transform: rotate(8deg); }
    75% { transform: rotate(-4deg); }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
